body{
font-family:"Poppins",sans-serif;
}

.accessoriesSection{
width:85%;
max-width:1150px;
margin:40px auto 60px;
background:rgba(255,255,255,0.72);
border-radius:28px;
padding:45px 35px 55px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.accessoriesTitle{
text-align:center;
font-size:36px;
font-weight:700;
color:#202020;
margin-bottom:15px;
}

.accessoriesText{
text-align:center;
font-size:16px;
color:#6d646d;
margin-bottom:40px;
}

.accessoriesGrid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:28px;
}

.accessoryCard{
background:#ffffff;
border-radius:22px;
padding:38px 20px 30px;
text-align:center;
box-shadow:0 8px 22px rgba(0,0,0,0.08);
}

.accessoryIcon{
font-size:42px;
display:block;
margin-bottom:18px;
}

.accessoryCard h2{
margin:0 0 14px;
font-size:22px;
font-weight:600;
color:#222;
}

.accessoryCard p{
font-size:15px;
color:#706870;
line-height:1.8;
margin-bottom:22px;
}

.accessoryBtn{
display:inline-block;
text-decoration:none;
background:#f3a8c8;
color:#ffffff;
padding:12px 26px;
border-radius:30px;
font-size:15px;
font-weight:500;
box-shadow:0 4px 10px rgba(243,168,200,0.35);
}

.accessoryBtn:hover{
background:#ea93ba;
}
.navBar{
  text-align:center;
  margin-bottom:20px;
}

.navBar span,
.navBar a{
  margin:0 15px;
  font-weight:bold;
  text-decoration:none;
  color:#1e4d3f;
}